<h1>Let's Review Your Timesheet</h1>

    First name: <span role="timesheet_firstname"></span><br>
    Last name:  <span role="timesheet_lastname"></span><br>
    Email:  <span role="timesheet_email"></span><br />
    Date:  <span role="timesheet_date"></span><br />
    Shift:  <span role="timesheet_day_worked"></span><br />
    Start time:  <span role="timesheet_start_time"></span><br />
    Hours worked:  <span role="timesheet_hours_worked"></span><br />
    Total hours worked:  <span role="timesheet_total_hours_worked"></span><br />
    Subtotal pay:  <span role="timesheet_subtotal_pay"></span><br />
    Position:  <span role="timesheet_position"></span><br />
    Work week:  <span role="timesheet_work_week"></span><br />
    Shift pay:  <span role="timesheet_shift_pay"></span><br />
    Pay rate:  <span role="timesheet_pay_rate"></span><br />
    Grand total: <span role="timesheet_grand_total"></span><br>
