<h1>Let's Review Your Timesheet</h1>


    First name: <span role="firstname"></span><br>
    Last name:  <span role="lastname"></span><br>
    Email:  <span role="email"></span><br />


    Date:  <span role="date"></span><br />
    Start time:  <span role="start_time"></span><br /> 
    Hours worked:  <span role="hours"></span><br />
    Position:  <span role="position"></span><br />
    Pay rate:  <span role="rate"></span><br />
    Subtotal pay:  <span role="subtotal"></span><br />


    Total hours worked:  <span role="total_hours"></span><br />
    Grand total: <span role="grand_total"></span><br>

 

